% extends "base.html"
% block head

%blockend
% block body
<h1>New Player Form</h1>
<div>
	<input id="name" placeholder="Name" />
	<input id="nickname" placeholder="What Do People Call You?" />
	<select id="gender">
		<option value="m">Male</option>
		<option value="f">Female</option>
	</select>
	<input id="dob" placeholder="Date Of Birth" />
	<input id="weaponOfChoice" placeholder="Weapon of Choice" />
	<input id="placeOfOrigin" placeholder="Place of Origin" />
	<div class="submit button">Create Character</div>
</div>
% endblock